@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Display&family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root{
    --main-color:#54311a;
    --sec-color:#0a0908;
    --p-color:#e0e0e0;
    ---p2-color:#5c5b58;
    --bg-color:#F8F8F8;
    --bg2-color:#C5A880;
    --main-text:'Poppins', sans-serif;
    --heading-fancy: 'Unna', serif;
    --p-text:'Mulish', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Bebas Neue', cursive; */
    /* font-family: 'DM Serif Display', serif; */
    /* font-family: 'Mulish', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Unna', serif; */
}


a{
    text-decoration: none;
    list-style: none;
    color: #c3c3c3;
    font-family: var(--p-text);
}

p{
    font-family: var(--p-text);
}

body{
    background-color: var(--bg-color);
}


nav{
    display: flex;
    padding: 0 12%;
    height: 90px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .logo a{
    color: var(--main-color);
    font-family: var(--heading-fancy);
    font-size: 42px;
    font-weight: 700;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: var(--bg-color);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--main-text);
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: #111;
    background: #fff;
  }
  nav .menu-btn i{
    color: var(--bg-color);
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  
  nav .fa-solid{
    font-size: 36px;
    font-weight: 700;
    color: var(--bg-color);
  }
  
  
  .profile {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    border-radius: 3px;
    background-color: var(--bg-color);
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .profile:hover .dropdown-content {
    display: block;
  }
  
  
  @media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
      background-color: var(--bg2-color);
      height: 80px;
    }
  }
  @media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
  
  @media (max-width: 920px) {
    nav ul{
      background-color: var(--main-color);
    }
  
  }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: var(--p-color);
    }
  
    .profile{
      display: none;
    }
  }

  #about-background-video {
    width: 100%;
    height: 55vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(64%);
  }

  #about-background-video::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

  .about-banner{
    height: 20vh;
    padding: 0 12%;
    margin-bottom: 8em;
  }
  
  
  .about-head{
    text-align: right;
    margin-top: 10em;
  }
  
  .about-head h1{
    font-size: 4.5em;
    letter-spacing: -1px;
    color: var(--bg-color);
    font-family: var(--heading-fancy);
  }

  .about-head h3{
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1.5em;
    color: var(--bg2-color);
  }

  .about-hotel {
    padding: 0 12%;
  }

  .about-hotel h2{
    font-size: 4em;
    margin-bottom: .25em;
    color: var(--main-color);
    font-family: var(--heading-fancy);
  }

  .about-hotel p{
    font-size: 1.1em;
    margin-bottom: .25em;
    color: var(---p2-color);
    font-family: var(--p-text);
  }

  .about-hotel-mission {
    margin: 5em 0;
    padding: 0 12%;
  }

  .about-hotel-mission h2{
    font-size: 4em;
    margin-bottom: .25em;
    color: var(--main-color);
    font-family: var(--heading-fancy);
  }

  .about-hotel-mission p{
    font-size: 1.1em;
    margin-bottom: 2em;
    color: var(---p2-color);
    font-family: var(--p-text);
  }

  .about-hotel-mission li{
    font-size: 1.1em;
    margin-top: .5em;
    list-style-type: none;
    color: var(---p2-color);
    font-family: var(--p-text);
  }

  #container {
    height: 80vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background:var(--p-color);
    display: grid ;
    place-items: center;
  }
  
  #slider-container {
    height: 300px;
    width: 85vw;
    max-width: 1400px;
    position: relative;
    overflow: hidden;
    padding: 20px;
  }
  
  #slider-container .btn {
    position: absolute;
    top: calc(50% - 30px);
    height: 30px;
    width: 30px;
    border-left: 8px solid rgb(0, 0, 0);
    border-top: 8px solid rgb(0, 0, 0);
  }
  
  #slider-container .btn:hover {
    transform: scale(1.2);
  }
  
  #slider-container .btn.inactive {
    border-color: rgb(153, 121, 126)
  }
  
  #slider-container .btn:first-of-type {
    transform: rotate(-45deg);
    left: 10px
  }
  
  #slider-container .btn:last-of-type {
    transform: rotate(135deg);
    right: 10px;
  }
  
  #slider-container #slider {
    display: flex;
    width: 1000%;
    height: 100%; 
    transition: all .5s;
  }
  
  #slider-container #slider .slide {
    height: 85%;
    margin: auto 10px;
    background-color:var(--bg-color);
    border-radius: 8px;
    display: grid;
    place-items: center;
    padding: 1em 2em;
    font-size: 14px;
  }

  #slider-container #slider .slide p{
    font-size: 16px;
    color: var(---p2-color);
  }

  #slider-container #slider .slide .star{
    display: flex;
    color: var(--main-color);
  }
  
  
  @media only screen and (min-width: 1100px) {
  
    #slider-container #slider .slide {
      width: calc(2.5% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 1100px) {
  
    #slider-container #slider .slide {
      width: calc(3.3333333% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 900px) {
  
    #slider-container #slider .slide {
      width: calc(5% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 550px) {
  
    #slider-container #slider .slide {
      width: calc(10% - 20px);
    }
  
  }

  
.footer{
  height: 35%;
  padding: 5% 12%;
  background-color: var(--sec-color);
}


.contain{
max-width: 100%;
margin:auto;
}

.row1{
display: flex;
flex-wrap: wrap;
}
ul{
list-style: none;
}

.footer-col{
 width: 25%;
 padding: 0 15px;
}
.footer-col h4{
font-size: 24px;
  color: var(--bg2-color);
text-transform: capitalize;
margin-bottom: 35px;
font-weight: 700;
position: relative;
}
.footer-col h4::before{
content: '';
position: absolute;
left:0;
bottom: -10px;
height: 2px;
box-sizing: border-box;
width: 50px;
}
.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}
.footer-col ul li a{
font-size: 20px;
text-transform: capitalize;
text-decoration: none;
font-weight: 500;
display: block;
transition: all 0.3s ease;
}
.footer-col ul li a:hover{
color: var(---p2-color);
padding-left: 8px;
}
.footer-col .social-links a{
display: inline-block;
height: 40px;
width: 40px;
background-color:var(--bg2-color);
margin:0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: var(--bg-color);
transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
color: var(--btn-color);
background-color: var(--p-color);
}

/*responsive*/
@media(max-width: 767px){
.footer{
  height: 100vh;
    padding: 70px 0;
}

.footer-col{
  width: 50%;
  margin-bottom: 30px;
}
}
@media(max-width: 574px){
.footer-col{
  width: 100%;
}
}
